<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <!-- =============== Navigation ================ -->
    
    <div class="container">
           <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span>
                        <span class="title">School Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('index') }}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Student Entry Form</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('teacher') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Teacher Entry Form</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('li') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Liberay Entry Form</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('non') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">non teaching entry form</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('studentdisplay') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Student List</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('teacher_list') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Teachers List</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('library_list') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Library Entry List</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('non_teaching_staff_list')}}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">non_teaching_staff_list</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">{{ total_students }}</div>
                        <div class="cardName">Total Student</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{ total_teachers }}</div>
                        <div class="cardName">Teachers</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{ total_li }}</div>
                        <div class="cardName">library</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">{{ total_non }}</div>
                        <div class="cardName">NonTeching Staff</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Students</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Class</th>
                                <th>Medium</th>
                                <th>Date of Birth</th>
                                <th>Admission Year</th>
                                <th>Registration Number</th>
                               
                            </tr>
                        </thead>

                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.class }}</td>
                                <td>{{ student.medium }}</td>
                                <td>{{ student.dob }}</td>
                                <td>{{ student.admission_year }}</td>
                                <td>{{ student.registration_number }}</td>
                              
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
               
            </div>
            <h5>Location Of School</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387194.0622732494!2d-74.30932777004287!3d40.697019286161634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1710326575475!5m2!1sen!2sin" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>
    
    
    <!-- =========== Scripts =========  -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>